.researchGroup{
    color:white;
    text-align:center;
    margin-top:55px;
    font-size:25px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.researchGroup img{
    width: 100px;
    height:100px;
    border-radius:100%;
}
.researchGroupText{
    margin-top: 8px;
}
.groupIntroductionContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap
}
.welcome{
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-right:auto;
    /*border: 2px solid #2c2f3f;*/
    font-size: 45px;
    color: #9abdeb;
    margin-bottom: 40px;
}
.groupIntroduction{
    width: 1000px;
    text-align:justify;
    /*border: 2px solid #2c2f3f;*/
    margin-left: auto;
    margin-right:auto;
    font-style: italic;
}
.interestSection{
    text-align: center;
    width:100%;
    margin: 20px auto 40px;
    /*border: 2px solid #2c2f3f;*/
    font-size: 45px;
    color: #9abdeb;
}
.interestModules{
    border: 2px solid #2c2f3f;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.interestModule{
    width: 33%;
}
.interestModule img{
    width: 190px;
    height:190px;
    /*border-radius:100%;*/
}

.nav-menu.navbar li{
    width:300px;
}

.peopleContainer{
    width: 250px;
    height:auto;
    margin-bottom: 30px;
}
.peopleInTeam img{
    width: 150px;
    height:150px;
    margin: 30px 50px 20px;
    border-radius:100%;
    overflow:hidden;
}
.peopleInTeam .peopleContainer .peopleName{
    width: 250px;
}
.professor_introduction{
    font-family: Arial,serif;
}
