.projectContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid #2c2f3f;
    margin-left: auto;
    margin-right: auto;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 2px solid #2c2f3f;
    margin-left: auto;
    margin-right: auto;
}
.project{
    /*border: 2px solid #2c2f3f;*/
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
}
.projectImgName{
    width: 20%;
}
.projectIntrotext{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.projectName{
    color:#0dcaf0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
}
.projectIntro{
    font-style: italic;
    text-align: left;
}