.phdContainer{
    border: 2px solid #2c2f3f;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.phd_student{
    margin-left:auto;
    margin-right:auto;
    float:left;
    border: 2px solid #2c2f3f;
}
.phd_student img{
    width: 150px;
    height:150px;
    margin: 30px 50px 20px;
    border-radius:100%;
    overflow:hidden;
}