<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Website Title Configuration -->
  <title>Prof.Yulei Sui's Research Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Browser's Webpage Logo -->
  <link href="../assets/img/uts_logo.png" rel="icon">

  <!-- Template Main CSS File -->
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- Connect with CSS Files -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/themify-icons.css" rel="stylesheet">
  <link href="../assets/css/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxIcons/css/boxIcons.min.css" rel="stylesheet">
  <link rel="icon" href="https://tripledickbot.github.io/images/tabpic.png">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/gLightBox/css/gLightBox.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mobland - Mobile App Landing Page Template">
  <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
  <meta name="apple-itunes-app" content="app-id=1601463356, app-clip-bundle-id=com.maksimgromov.Pharmix.Clip">
  <meta property="og:title" content="Pharmix" />
  <meta property="og:url" content="https://maksimgromov.github.io" />
  <meta property=”og:image” content=”https://maksimgromov.github.io/images/iphone11.png” />

  <!-- Font -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <!-- Themify Icons -->
  <link rel="stylesheet" href="../assets/css/themify-icons.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
  <!-- Main css -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/index.css" rel="stylesheet">
</head>
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="researchGroup">
        <div>
          <img src="../assets/img/researchGroupLogo.png" class="img-fluid rounded-square" alt="">
        </div>
        <div class="researchGroupText">
          <a>PROF. Yulei Sui <br/> RESEARCH GROUP </a>
        </div>
      </div>

      <!-- Left Navigation Bar -->
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a href="../index.html" class="nav-link scrollTo">
              <i class="bx bxs-user-account"></i>
              <span class="navText">Home</span>
            </a>
          </li>
          <li>
            <a href="../templates/teams.html" class="nav-link scrollTo">
              <i class="bx bxl-microsoft-teams"></i>
              <span class="navText">Teams</span>
            </a>
          </li>
          <li>
            <a href="../templates/project.html" class="nav-link scrollTo">
              <i class="bx bx-file-blank"></i>
              <span class="navText">Projects</span>
            </a>
          </li>
          <li>
            <a href="../templates/news.html" class="nav-link scrollTo">
              <i class="bx bxs-news"></i>
              <span class="navText">News</span>
            </a>
          </li>
          <li>
            <a href="../templates/about.html" class="nav-link scrollTo">
              <i class="bx bxs-user-detail"></i>
              <span class="navText">About</span>
            </a>
          </li>
          <li>
            <a href="../templates/contact.html" class="nav-link scrollTo">
              <i class="bx bx-envelope"></i>
              <span class="navText">Contact</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">

    <!-- ======= Section Curriculum Vitae ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <!-- Section Title "Projects" -->
        <div class="section-title">
          <h2>News</h2>
        </div>


        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">

            <div class="newsTime">2019 ~ 2022</div>

            <div class="resume-item">
              <h4>2022/04</h4>
              <h5>Our work on path-sensitive code embedding accepted at ISSTA 2022</h5>
              <h5>Learning or Teaching Software Verification? Check out SVF-Teaching!</h5>
            </div>

            <div class="resume-item">
              <h4>2021/07</h4>
              <h5>Our work on improving data structures for pointer analysis accepted at OOPSLA 2021 and SAS 2021.</h5>
            </div>

            <div class="resume-item">
              <h4>2021/05</h4>
              <h5>Learning or Teaching Software Analysis? Check out SVF-Teaching!</h5>
            </div>

            <div class="resume-item">
              <h4>2021/01</h4>
              <h5>VSFS has been merged into SVF.</h5>
            </div>

            <div class="resume-item">
              <h4>2020/11</h4>
              <h5>Our OOPSLA paper received a Distinguished Paper Award. We thank the community for the recognition of our work!</h5>
            </div>

            <div class="resume-item">
              <h4>2020/05</h4>
              <h5>TypeClone has been merged into SVF.</h5>
            </div>

            <div class="resume-item">
              <h4>2020/04</h4>
              <h5>TypeClone accepted at ECOOP 2020.   MUZZ accepted at USENIX Security 2020.</h5>
            </div>

            <div class="resume-item">
              <h4>2020/02</h4>
              <h5>Invited to serve on the Program Committees of ICSE 2021 , ISSRE 2020 , LCTES 2020 , QRS 2020 , SCAM 2020 , APSEC 2020, ICCQ 2021. Please consider to submit your work!</h5>
            </div>

            <div class="resume-item">
              <h4>2019/10</h4>
              <h5>Our work on hybrid representation learning for clustering weakly-labeled Android malware is accepted at TIFS.</h5>
              <h5>Our SAS paper received a Best Paper Award . We thank the community for the recognition of our work!</h5>
            </div>

          </div>


          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="newsTime">2016 ~ 2018</div>

            <div class="resume-item">
              <h4>2018/12</h4>
              <h5>Our work VFix has been accepted at ICSE 2019 !</h5>
            </div>

            <div class="resume-item">
              <h4>2018/05</h4>
              <h5>Our ICSE paper was awarded ACM SIGSOFT Distinguished Paper. We thank the community for the recognition of our past research efforts!</h5>
            </div>

            <div class="resume-item">
              <h4>2018/03</h4>
              <h5>Our SVF now supports lastest version of LLVM (6.0.0). We have also released PTBen , a comprehensive pointer analysis benchmark suite for C/C++.</h5>
            </div>

            <div class="resume-item">
              <h4>2017/12</h4>
              <h5>Two papers accepted at ICSE 2018! One on UAF detection and the other one on Android actitivty transition analysis.</h5>
            </div>

            <div class="resume-item">
              <h4>2017/08</h4>
              <h5>Our work on machine-learning-guided typestate analysis has been accepted at this year ACSAC 2017.</h5>
            </div>

            <div class="resume-item">
              <h4>2017/06</h4>
              <h5>Our work on incremental analysis for probabilistic programs has been accepted at this year SAS 2017.</h5>
            </div>

            <div class="resume-item">
              <h4>2017/05</h4>
              <h5>SVF has been migrated to LLVM-4.0.0.</h5>
            </div>

            <div class="resume-item">
              <h4>2017/04</h4>
              <h5>Our work on C++ virtual call protection using pointer analysis has been accepted at this year ISSTA 2017.</h5>
            </div>

            <div class="resume-item">
              <h4>2016/11</h4>
              <h5>I won an ARC Discovery Early Career Researcher Award.</h5>
            </div>

            <div class="resume-item">
              <h4>2016/04</h4>
              <h5>SVF has been updated to support lastest verson of LLVM (3.8.0).</h5>
            </div>

            <div class="resume-item">
              <h4>2016/02</h4>
              <h5>I will be attending EuroLLVM'16 to give a plenary talk about our SVF. See you there!</h5>
            </div>

          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->

  <footer id="footer">
    <p style="text-align: center;color: white">
      "© 2022 Copyright"<br/>
      Professor Yulei Sui's Research Group<br/>
      School of Computer Science, FEIT, UTS
    </p>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/gLightBox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/jquery-3.2.1.min.js"></script>
  <script src="../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/owl.carousel.min.js"></script>
  <script src="../assets/js/script.js"></script>

</body>


</html>
