<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Website Title Configuration -->
  <title>Prof.Yulei Sui's Research Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Browser's Webpage Logo -->
  <link href="../assets/img/uts_logo.png" rel="icon">

  <!-- Connect with CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxIcons/css/boxIcons.min.css" rel="stylesheet">
  <link href="../assets/vendor/gLightBox/css/gLightBox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="researchGroup">
      <div>
        <img src="../assets/img/researchGroupLogo.png" class="img-fluid rounded-square" alt="">
      </div>
      <div>
        <a>Prof.Yulei Sui</a>
        <a>Research Group</a>
      </div>
    </div>

    <!-- Left Navigation Bar -->
    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <!--            class="nav-link scrollTo"-->
          <a href="../index.html" class="nav-link scrollTo">
            <i class="bx bxs-user-account"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="teams.html" class="nav-link scrollTo">
            <i class="bx bxl-microsoft-teams"></i>
            <span>Teams</span>
          </a>
        </li>
        <li>
          <a href="about.html" class="nav-link scrollTo">
            <i class="bx bxs-user-detail"></i>
            <span>About</span>
          </a>
        </li>
        <li>
          <a href="project.html" class="nav-link scrollTo">
            <i class="bx bx-file-blank"></i>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="contact.html" class="nav-link scrollTo">
            <i class="bx bx-envelope"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">

    <div class="container">

      <!-- Section Title "Projects" -->
      <div class="section-title">
        <h2>Projects</h2>
      </div>

      <div class="column">
        <!-- data-aos="fade-up" -->
        <div class="col-lg">
          <h3 style="color:rgb(26, 30, 90);" class="resume-title">Academic Research</h3>

          <!-- the first research introduction -->
          <div class="resume-item">
            <h4> 1st Academic Research - <a href=""> Report or Project</a> </h4>
            <h5>Year : 20XX</h5>
            <ul>
              <li> Briefly Introduction about the 1st Research</li>
              <li>
                <code> what programming skills are used? Python or Java?</code>- <a href=""> Code Repository</a>
              </li>
            </ul>
          </div>

          <!-- the second research introduction -->
          <div class="resume-item">
            <h4> 2nd Academic Research - <a href=""> Report or Project</a> </h4>
            <h5>Year : 20XX</h5>
            <ul>
              <li> Briefly Introduction about the 2nd Research</li>
              <li>
                <code> what programming skills are used? Python or Java?</code>- <a href=""> Code Repository</a>
              </li>
            </ul>
          </div>

          <!-- the third research introduction -->
          <div class="resume-item">
            <h4> 3rd Academic Research - <a href=""> Report or Project</a> </h4>
            <h5>Year : 20XX</h5>
            <ul>
              <li> Briefly Introduction about the 3rd Research</li>
              <li>
                <code> what programming skills are used? Python or Java?</code>- <a href=""> Code Repository</a>
              </li>
            </ul>
          </div>

          <!-- the forth research introduction -->
          <div class="resume-item">
            <h4> 4th Academic Research - <a href=""> Report or Project</a> </h4>
            <h5>Year : 20XX</h5>
            <ul>
              <li> Briefly Introduction about the 4th Research</li>
              <li>
                <code> what programming skills are used? Python or Java?</code>- <a href=""> Code Repository</a>
              </li>
            </ul>
          </div>
        </div><br/>
      </div>
    </div>
  </section><!-- End Resume Section -->


</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/gLightBox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/typed.js/typed.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>
