<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Website Title Configuration -->
  <title>Prof.Yulei Sui's Research Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Browser's Webpage Logo -->
  <link href="../assets/img/uts_logo.png" rel="icon">

  <!-- Connect with CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxIcons/css/boxIcons.min.css" rel="stylesheet">
  <link href="../assets/vendor/gLightBox/css/gLightBox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/project.css" rel="stylesheet">
</head>
<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="researchGroup">
      <div>
        <img src="../assets/img/researchGroupLogo.png" class="img-fluid rounded-square" alt="">
      </div>
      <div class="researchGroupText">
        <a>PROF. Yulei Sui <br/> RESEARCH GROUP </a>
      </div>
    </div>

    <!-- Left Navigation Bar -->
    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="../index.html" class="nav-link scrollTo">
            <i class="bx bxs-user-account"></i>
            <span class="navText">Home</span>
          </a>
        </li>
        <li>
          <a href="../templates/teams.html" class="nav-link scrollTo">
            <i class="bx bxl-microsoft-teams"></i>
            <span class="navText">Teams</span>
          </a>
        </li>
        <li>
          <a href="../templates/project.html" class="nav-link scrollTo">
            <i class="bx bx-file-blank"></i>
            <span class="navText">Projects</span>
          </a>
        </li>
        <li>
          <a href="../templates/news.html" class="nav-link scrollTo">
            <i class="bx bx-file-blank"></i>
            <span class="navText">News</span>
          </a>
        </li>
        <li>
          <a href="../templates/about.html" class="nav-link scrollTo">
            <i class="bx bxs-user-detail"></i>
            <span class="navText">About</span>
          </a>
        </li>
        <li>
          <a href="../templates/contact.html" class="nav-link scrollTo">
            <i class="bx bx-envelope"></i>
            <span class="navText">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">

    <div class="container">

      <!-- Section Title "Projects" -->
      <div class="section-title">
        <h2>Honour Projects</h2>
      </div>

      <div class="projectContainer">

        <!-- 1st Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/webSVF.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">WebSVF</a>
            <p class="projectIntro">
              An online learning and teaching platform for source code analysis based on SVF.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/svf-tools/WebSVF">
                <span>WebSVF Code Repository</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 2nd Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/codeMap.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">WebCodeMap</a>
            <p class="projectIntro">
              Analyzing and visiualizing source code.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/gurparteeksingh/WebCodeMap">
                <span>Web Code Map - Gurparteek Singh</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 3rd Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/svfEclipsePlugin.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName"> SVF-UAF Eclipse Plugin</a>
            <p class="projectIntro">
              An eclipse plugin for examining use-after-free bugs reported by SVF.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/yuleisui/SVF-EclipsePlugin">
                <span>SVF-EclipsePlugin Code Repository</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 4th Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/uafPrediction.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">UAFPrediction</a>
            <p class="projectIntro">
              A tool uses SVM machine learning model to determine the likelihood of a use-after-free bug within C/C++ source files.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/yuleisui/UAFPrediction">
                <span>UAFPrediction Code Repository</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 5th Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/plugin.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">DataRace Eclipse Plugin</a>
            <p class="projectIntro">
              An eclipse plugin of Data Race Detection reported by SVF.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/yuleisui/SVF-MTA-EclipsePlugin">
                <span>SVF-MTA-EclipsePlugin Code Repository</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 6th Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/mutator.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">TestCaseMutation</a>
            <p class="projectIntro">
              A test case mutator for validating a pointer analyzer.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/yuleisui/Derick---TestCaseMutation">
                <span>Test-Case-Mutation Code Repository</span>
              </a>
            </p>
          </div>
        </div>

        <!-- 7th Project -->
        <div class="projects">
          <div class="projectImgName">
            <img src="../assets/img/droid.png" class="img-fluid rounded-square" alt="">
          </div>
          <div class="projectIntrotext">
            <a class="projectName">FlowDroidRunTool</a>
            <p class="projectIntro">
              Machine-learning-based prediction of FlowDroid options for analyzing an Android App.
              <br/>
              <i class="bx bxl-github" style="margin-top: 5px"></i>
              <a href="https://github.com/yuleisui/FlowDroidRunTool">
                <span>Flow-Droid-Run-Tool Code Repository</span>
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Resume Section -->


</main><!-- End #main -->

<footer id="footer">
  <p style="text-align: center;color: white">
    "© 2022 Copyright"<br/>
    Professor Yulei Sui's Research Group<br/>
    School of Computer Science, FEIT, UTS
  </p>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/gLightBox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/typed.js/typed.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>
