<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Website Title Configuration -->
  <title>Prof.Yulei Sui's Research Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Browser's Webpage Logo -->
  <link href="../assets/img/uts_logo.png" rel="icon">

  <!-- Template Main CSS File -->
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/teams.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- Connect with CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxIcons/css/boxIcons.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/gLightBox/css/gLightBox.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="researchGroup">
      <div>
        <img src="../assets/img/researchGroupLogo.png" class="img-fluid rounded-square" alt="">
      </div>
      <div class="researchGroupText">
        <a>PROF. Yulei Sui <br/> RESEARCH GROUP </a>
      </div>
    </div>

    <!-- Left Navigation Bar -->
    <nav id="navbar" class="nav-menu navbar" style="margin-top: 15px">
      <ul>
        <li>
          <a href="../index.html" class="nav-link scrollTo">
            <i class="bx bxs-user-account"></i>
            <span class="navText">Home</span>
          </a>
        </li>
        <li>
          <a href="../templates/teams.html" class="nav-link scrollTo">
            <i class="bx bxl-microsoft-teams"></i>
            <span class="navText">Teams</span>
          </a>
        </li>
        <li>
          <a href="../templates/project.html" class="nav-link scrollTo">
            <i class="bx bx-file-blank"></i>
            <span class="navText">Projects</span>
          </a>
        </li>
        <li>
          <a href="../templates/news.html" class="nav-link scrollTo">
            <i class="bx bx-file-blank"></i>
            <span class="navText">News</span>
          </a>
        </li>
        <li>
          <a href="../templates/about.html" class="nav-link scrollTo">
            <i class="bx bxs-user-detail"></i>
            <span class="navText">About</span>
          </a>
        </li>
        <li>
          <a href="../templates/contact.html" class="nav-link scrollTo">
            <i class="bx bx-envelope"></i>
            <span class="navText">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main id="main">

  <!-- ======= Teams Section ======= -->
  <section id="teams" class="teams">

    <div class="container">
      <div class="section-title">
        <h2>Meet the Team</h2>
      </div>

      <!-- Introduction of Supervisor -->
      <div class="section-title">
          <span style="color:#0dcaf0;font-size:30px;font-weight: bold">
            Supervisor
          </span>
      </div>

      <!--  Align problem solved by the "display" and "flex-wrap" tag.
            its width will change to 100% of the current page, and image will be automatically centered.-->
      <div class="professorContainer">
        <div class="profImgName">
          <div>
            <a>
              <img src="../assets/img/Professor_Yulei_Sui_Photo_center.jpg" class="img-fluid rounded-square" alt="">
            </a>
            <div style="margin-top: 5px">
              <a style="font-weight: bold">Yulei Sui</a>
            </div>
          </div>

        </div>

        <!-- Professor Yulei Sui's Introduction -->
        <div class="profIntrotext">
          <p>
            Yulei Sui is an Associate Professor at
            <a href="https://www.uts.edu.au/about/faculty-engineering-and-information-technology/computer-science">School of Computer Science</a>,
            <a href="https://www.uts.edu.au/about/faculty-engineering-and-information-technology">Faculty of Engineering and Information Technology (FEIT)</a>,
            <a href="https://www.uts.edu.au">University of Technology Sydney (UTS)</a>.
          </p>
          <p>
            Prof. Sui is broadly interested in
            <a style="font-weight: bold">Program Analysis</a>
            ,
            <a style="font-weight: bold">Secure Software Engineering</a>
            and
            <a style="font-weight: bold">Machine Learning</a>.
            In particular, Prof. Sui's research focuses on building fundamental static analysis and verification techniques
            to improve the reliability and security of modern software systems.
          </p>
          <p>
            His recent interest lies at the intersection of programming languages, natural languages and machine learning.
            Specifically, his current research projects include secure machine learning, software analysis and verification
            for bug detection through data mining and deep learning.
          </p>
        </div>
      </div>

      <!-- Introduction of PhD Students -->
      <div class="section-title">
          <span>
            Current Students
          </span>
      </div>

      <div class="overallContainer">
        <div class="phdContainer">

          <!-- 1st PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/Yuxiang_Lei.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Yuxiang Lei</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">S2 2018-now</a>
            </div>
          </div>

          <!-- 2nd PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/ThazinWinWinAung.jpeg" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Thazin Win Win AUNG</a><br/>
              <a>PhD (part-time)</a><br/>
              <a class="italic">S2 2019-now </a>
            </div>
          </div>

          <!-- 3rd PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/HsuMyatWin.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Hsu Myat Win</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">(with Shin Hwei Tan)</a><br/>
              <a class="italic">S2 2019-now </a>
            </div>
          </div>

          <!-- 4th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/DinghuaWang.jpeg" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Dinghua Wang</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">(with Yepang Liu)</a><br/>
              <a class="italic">S2 2018-now</a>
            </div>
          </div>

          <!-- 5th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/GurparteekSingh.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Gurparteek Singh</a><br/>
              <a>PhD (on leave)</a><br/>
              <a class="italic">S2 2020-now</a>
            </div>
          </div>

          <!-- 6th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/xiaoCheng.jpg" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Xiao Cheng</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">S1 2021-now</a>
            </div>
          </div>

          <!-- 7th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Yuhao Gao</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">S1 2022-now</a>
            </div>
          </div>

          <!-- 8th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Shuangxiang Kan</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">S1 2022-now</a>
            </div>
          </div>

          <!-- 9th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Pei Xu</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">S1 2022-now</a>
            </div>
          </div>

          <!-- 10th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Guanqin Zhang</a><br/>
              <a>PhD Student</a><br/>
              <a class="italic">(with Dilum Bandara<br/> and Shiping Chen)</a><br/>
              <a class="italic">S2 2022-now</a>
            </div>
          </div>

          <!-- 11th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Zexin Zhong</a><br/>
              <a>Master by research student</a><br/>
              <a class="italic">S1 2020-now</a>
            </div>
          </div>

          <!-- 12th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Vishal Uniyal</a><br/>
              <a>Master by research student</a><br/>
              <a class="italic">S2 2021-now</a>
            </div>
          </div>

          <!-- 13th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/researcherPhoto.png" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Feng Xu </a><br/>
              <a>Master by research student</a><br/>
              <a class="italic">S2 2022-now</a>
            </div>
          </div>

          <!-- 14th PhD Student -->
          <div class="phd_student">
            <a>
              <img src="../assets/img/jiankunSun.jpeg" class="img-fluid rounded-square" alt="">
            </a>
            <div class="peopleName">
              <a>Jiankun Sun</a><br/>
              <a>Visiting PhD student</a><br/>
              <a class="italic">S2 2022-now</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Introduction of PhD Students -->
      <div class="section-title">
          <span>
            Former Students
          </span>
      </div>

      <div>
        <table class="formerStuTable">
          <tr>
            <td style="color: white;font-weight: bold;">Student Name</td>
            <td style="color: white;font-weight: bold;">Student Type</td>
            <td style="color: white;font-weight: bold;">Semester</td>
            <td style="color: white;font-weight: bold;">Awards</td>
          </tr>
          <tr>
            <td class="formerStuName">Guanqin Zhang</td>
            <td>Master by research student</td>
            <td>S1 2020-S1 2022</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Mohamad Barbar</td>
            <td>PhD student</td>
            <td>S1 2018-S2 2021</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Yanxin Zhang</td>
            <td>PhD student</td>
            <td>S1 2018-S2 2021</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Nicholas Tsom</td>
            <td>Undergraduate thesis student</td>
            <td>S1 2021-S2 2021</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Wren Ulrich Fajardo</td>
            <td>Undergraduate thesis student</td>
            <td>S1 2021-S2 2021</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Luke Kokoftopoulos</td>
            <td>Undergraduate thesis student</td>
            <td>S1 2021-S2 2021</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Prashant Shresth</td>
            <td>Undergraduate thesis student</td>
            <td>S1 2020-S2 2020</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Akshat Kaushik</td>
            <td>Undergraduate thesis student</td>
            <td>S2 2019-S1 2020</td>
            <td>2020 Alan Chappel Award finalists</td>
          </tr>
          <tr>
            <td class="formerStuName">Tianyang Guan</td>
            <td>Master by research student</td>
            <td>S1 2019-S2 2020</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Baodi Ning</td>
            <td>Master by research student</td>
            <td>S2 2018-2020</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Wei Hua</td>
            <td>Visiting PhD student</td>
            <td>S2 2018-S1 2019</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Mengxi Jiang</td>
            <td>Visiting PhD student</td>
            <td>S2 2019</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Zicheng Qu</td>
            <td>Undergraduate thesis student</td>
            <td>S2 2019-S1 2020</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Vishal Uniyal</td>
            <td>Undergraduate Thesis student</td>
            <td>S2 2018-S1 2019</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Gurparteek Singh</td>
            <td>Undergraduate Thesis student</td>
            <td>S2 2018-S1 2019</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Guanping Xiao</td>
            <td>Visiting PhD student</td>
            <td>S2 2018</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Yifei Zhang</td>
            <td>PhD student, co-supervision</td>
            <td>2015-2018</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Xiaokang Fan</td>
            <td>PhD student, co-supervision</td>
            <td>2013-2018</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Hua Yan</td>
            <td>PhD student, co-supervision</td>
            <td>2014-2018</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Sen Ye</td>
            <td>PhD student, co-supervision</td>
            <td>2012-2014</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Thai San Phan</td>
            <td>Undergraduate thesis</td>
            <td>2015</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Banson Tong</td>
            <td>Undergraduate thesis</td>
            <td>2016</td>
            <td>
              The Macquarie SENG2021 Group Prize<br/>
              The Optiver SENG3011 Group Award
            </td>
          </tr>
          <tr>
            <td class="formerStuName">Mohammad Ghasembeigi</td>
            <td>Undergraduate thesis</td>
            <td>2016</td>
            <td>The CommBank Year 4 Software Engineering Prize</td>
          </tr>
          <tr>
            <td class="formerStuName">Mohamad Barbar</td>
            <td>Undergraduate thesis</td>
            <td>2016-2017</td>
            <td>
              Oracle COMP3131/9102 Prize<br/>
              Taste of Research Summer Scholarships
            </td>
          </tr>
          <tr>
            <td class="formerStuName">Decrick Chan</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Desmond Ho Yin Cheang</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td>The Faculty of Engineering Dean's Award</td>
          </tr>
          <tr>
            <td class="formerStuName">Michael Liu</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td>Macquarie SENG2020 Group Prize</td>
          </tr>
          <tr>
            <td class="formerStuName">Vi Nguyen</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Jason Siu Fon Ng</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Kai Yang Lim</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Tian Cheng Antheny Yu</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
          <tr>
            <td class="formerStuName">Robert Brett Charlton</td>
            <td>Undergraduate thesis</td>
            <td>2017</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</main><!-- End #main -->

<footer id="footer">
  <p style="text-align: center;color: white">
    "© 2022 Copyright"<br/>
    Professor Yulei Sui's Research Group<br/>
    School of Computer Science, FEIT, UTS
  </p>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

<!-- Vendor JS Files -->
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/typed.js/typed.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/gLightBox/js/glightbox.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
